body {
  font-family: oswald, sans-serif;
  background-color: grey;
  
}

#header-img {
  width: 200px;
   
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  text-indent: 3em;
  
  
}

#nav-bar {
  display: flex;
  padding-right: 100px;
  font-weight: 400;
  font-size: 22px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

#heading {
  text-align: center;
  font-weight: 500;
}

#sub-heading {
  text-align: center;
  font-weight: 400;
}

#about {
  text-align: center;
  font-weight: 400;
}

#images {
  display: flex;
  justify-content: center;
  padding: 25px;
  
  
}

