html {
  background-color: black;  
}

body {
  font-family: oswald, sans-serif;
  background-color: grey;
  margin: 0;
  
}

#header-img {
  width: 200px;
   
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: grey;
  width: 100%;  
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  text-indent: 3em;
  padding-right: 3em;
  
  
}

#nav-bar {
  display: flex;
  font-weight: 400;
  font-size: 22px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

#heading {
  text-align: center;
  font-weight: 500;
  padding-top: 125px;
}

#sub-heading {
  text-align: center;
  font-weight: 400;
}

#about {
  text-align: center; 
}

.about-font-headings {
  font-weight:500;
}


#images {
  display: flex;
  justify-content: center;
  padding: 25px;  
}

#video {
  display: inline-block;
  padding: 50px 0px;
}

#video-container {
  text-align: center; 
}
  
#shop {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

#backpack-image {
  padding: 10px;
}

#shop-button {
  width: 350px;
  background-color: #f7b500;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-family: oswald, sans-serif;
  font-size: 20px;
}

#submit {
  margin: 10px;
  background-color: #f7b500;
  border: none;
  padding: 7px;
  font-weight: bold;
  font-family: oswald, sans-serif;
  font-size: 15px;
}


#form {
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding-top: 30px;   
}



#email {
  width: 390px;
  padding: 8px;
  font-family: oswald, sans-serif;
  text-align: center;
  border: none;
}

#contact {
  text-align: center;
  padding: 30px;
}
#contact-link {
  color:white;
}

a:hover {
    color:#e88200;
}

@media (max-width: 650px) {
  #image-1, #image-3 {
    display:none;
  }
}

