html {
  background-color: black;
}

main {
  width:100%;
}

body {
  font-family: oswald, sans-serif;
  background-color: grey;
  margin: 0;
}

#header-img {
  width: 200px;
   
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: grey;
  width: 100%;  
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  text-indent: 3em;
  padding-right: 3em;
  
}

#nav-bar {
  display: flex;
  font-weight: 400;
  font-size: 22px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

#heading {
  text-align: center;
  font-weight: 500;
  padding-top: 125px;
}

#sub-heading {
  text-align: center;
  font-weight: 400;
}

#about {
  text-align: center; 
}

.about-font-headings {
  font-weight:500;
}

#images {
  display: flex;
  justify-content: center;
  padding: 25px; 
  max-width: 3000px;
}

#video {
  display: flex;
  justify-content: center;
  padding: 50px 0px; 

}

#video-container {
  display: flex;
  justify-content: center;
}

#contact {
  text-align: center;
  padding: 50px;
}

#submit {
  margin: 10px;
  background-color: #FFE000;
  border: none;
  padding: 7px;
}


#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding-top: 20px;
  width: 100%;
   
}

#email {
  width: 390px;
  padding: 5px;
  font-family: oswald, sans-serif;
  text-align: center;
  border: none;
}